
.idea/artifacts/unnamed.xml
.idea/artifacts/task2.xml
.idea/runConfigurations.xml
.idea/workspace.xml
*.xml
*.class
*.xml
*.jar
out/production/Cakes2/cakes/akkaCakes/Cakes.class
out/production/Cakes2/cakes/akkaCakes/Cakes.class
*.MF
*.MF
.DS_Store
src/.DS_Store
